nav {
  background-color: #f5e9f3;
  color: #5b2ca2;
}
a {
  color: #5b2ca2;
}
.hero_image {
  display: grid;
  place-content: center;
}
img {
  width: 100%;
}
.jumbo {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  img {
    vertical-align: middle;
  }
  .hero_text {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 20%;
  }
}
.hero_text {
  .h1,
  h1 {
    font-size: 3rem;
    font-weight: 900;
  }
}

.hero_text .h1, .hero_text h1 {
  color: #5b2ca2;
  font-size: 3rem;
  font-weight: 900;
}
