:root {
  --button-color: #5b2ca2;
}

button {
  width: 14rem;
  background-color: #5b2ca2;
  color: white;
  border-radius: 5px;
  border: none;
  min-height: 3rem;
  font-family: "Work Sans", sans-serif;
  &:hover {
    background-color: white;
    color: var(--button-color);
  }
}

.box {
  display: grid;
  place-content: center;
  background-color: #f8f1f2;
}
.sliderbox {
  display: grid;
  place-content: center;
}

.organic_margins {
  margin: 1rem;
  padding: 1rem;
}

.tell_us {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  img {
    vertical-align: middle;
    filter: brightness(0.6);
  }
  .tellus_text {
    position: absolute;
    top: 10rem;
    left: 10rem;
    width: 30%;
  }
  .catalogue-one {
    position: absolute;
    top: -500%;
    left: 250%;
    font-size: 10rem;
  }
  .catalogue-one-subtitle {
    position: absolute;
    left: 130%;
    right: -130%;
    bottom: 30px;
    color: white;
  }
}
#tellusbtn {
  color: white;
}

section {
  padding: 3rem;
}

small {
  text-transform: uppercase;
}

#actionbutton {
  color: #5b2ca2;
  background-color: white;
  &:hover {
    color: white;
    background-color: var(--button-color);
  }
}
#actionheading {
  color: white;
}

.col-6.box {
  padding: 5rem;
}

#halfwidth {
  width: 50%;
}

.azure,
.cornsilk {
  padding: 1rem;
}
.azure {
  background-color: azure;
}
.cornsilk {
  background-color: cornsilk;
}

#footer_logo{
  width: 100px;
}