:root {
  --button-color: #5b2ca2;
}

button {
  width: 14rem;
  background-color: #5b2ca2;
  color: white;
  border-radius: 5px;
  border: none;
  min-height: 3rem;
  font-family: "Work Sans", sans-serif;
  &:hover {
    background-color: white;
    color: var(--button-color);
  }
}

.box {
  display: grid;
  place-content: center;
  background-color: #f8f1f2;
}
.sliderbox {
  display: grid;
  place-content: center;
}

.organic_margins {
  margin: 1rem;
  padding: 1rem;
}

.tell_us {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  img {
    vertical-align: middle;
    filter: brightness(0.6);
  }
  .tellus_text {
    position: absolute;
    top: 10rem;
    left: 10rem;
    width: 30%;
  }
  .catalogue-one {
    position: absolute;
    top: -38rem;
    left: 70rem;
    font-size: 10rem;
    color: white;
  }
  .catalogue-one-subtitle {
    position: absolute;
    left: 130%;
    right: -130%;
    bottom: 30px;
    color: white;
  }
}
#tellusbtn {
  color: white;
}

section {
  padding: 3rem;
}

small {
  text-transform: uppercase;
}

#actionbutton {
  color: #5b2ca2;
  background-color: white;
  &:hover {
    color: white;
    background-color: var(--button-color);
  }
}
#actionheading {
  color: white;
}

.col-6.box {
  padding: 5rem;
}

#halfwidth {
  width: 50%;
}

.azure,
.cornsilk {
  padding: 1rem;
}
.azure {
  background-color: azure;
}
.cornsilk {
  background-color: cornsilk;
}
.relative {
  position: relative;
  color: white;
  h3#baking_heading {
    position: absolute;
    left: 5%;
    top: 5%;
    font-size: 4rem;
    font-weight: 900;
  }
  span#baking_number {
    position: absolute;
    top: 5%;
    left: 90%;
    font-size: 4rem;
    font-weight: 600;
  }
  #shortdescription {
    width: 50%;
    position: absolute;
    top: 75%;
    left: 5%;
  }
}

body {
  overflow-x: hidden;
}

.opacity {
  filter: brightness(0.5);
}

#section_white {
  color: white;
}

#deliver_heading {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
#deliver_number {
  position: absolute;
  top: 1rem;
  left: 95%;
  font-size: 3rem;
}
#deliver_description {
  position: absolute;
  top: 30rem;
  left: 5rem;
  width: 40%;
  font-size: 1.25rem;
}
